.logo > img {
    height: 100%;
}
 /*Necesito subir el boton de start free y el sing in*/
.navbar {
    width: 70%;
    text-align: center;
    color: #67b54b;
    font-weight: 500;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    border: 0;
    border-radius: 5px;
}
.actions ul{
    list-style-type: none;
}
li {
    display: inline;
    color:  #025157;   
}
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; 
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
     
}
.header > * {
    display: inline-block;
    font-size: 16 px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

h1 {
    color:#025157;
    text-align: center;
    background-color: #fffbf7;
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 24px; 
     
} 
h4 {
    color:black ;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
form {
    text-align: center;
}
button {
    background-color:#025157;
    color:white ;
    padding: 6px 20px;
    margin-left: -10px;
}
input {
    border: 1px solid gray;
    padding: 6px 20px;
    width: 15%;
    max-width: 200px;   
}
/*parrafo inicial*/
.inicial {
    color: gray;
    text-align: center;
    margin-top: 15px;
    font-size: larger;
}
/* Mover el logo capterra */ 
/* Mover las imagenes ilustrativas y el video */


h2 {
    color:#025157;
    background-color: #fffbf7;
    font-family: "Alegreya", serif;
}
/*imagen de capterra*/ 
.capterra > img {
    vertical-align: middle;
}
/*imagen de publicidad*/
.img-contenido > img {
    width: 70%;
    
}

/*parrafo de la publicidad */
.publicidad {
    color: black;
}
p {
    color: gray;
}
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;

}
/*video*/

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
.publish {
    flex: 1;

}