h1 {
    color:#025157;
} 
h4 {
    color:gray ;
}
button {
    color:#fff;
}
button {
    background-color:#025157;
    color:white ;
}
label {
    color: gray;
}
p {
    color: gray;

}
.flexible {
    display: flex;
    
 }

header {
    display: flex;
    justify-content: space-between;

}
