h1 {
    color:#025157;
    text-align: center;
    background-color: #fffbf7;
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 24px; 
     
} 
h4 {
    color:black ;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

button {
    background-color:#025157;
    color:white ;
    padding: 6px 20px;
    margin-left: -10px;
}
input{
    border: 1px solid gray;
    padding: 6px 20px;
    width: 15%;
    max-width: 200px;
    
}

form {
    text-align: center;
    


}
label {
    color: gray;
}
p {
    color: gray;
    text-align: center;
    margin-top: 15px;
    font-size: larger;
}
.capterra { 
    vertical-align: bottom;

}
li{
    text-align: -webkit-match-parent;
}
.nav-item {
   
    color: #025157;

}

.header {
    display:inline-block;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;


}
